.header-content {
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  padding-top: 60px;
}

@media only screen and (max-width: 400px) {
  .header-content {    
    font-size: 30px;
    padding-top: 20px;
  }
}

.header-content-key{
  color: blue;
}

.content {
  text-align: center;
  font-weight: 200;
  padding: 50px 210px 50px;
  font-size: 30px;
}

@media only screen and (max-width: 400px) {
  .content {
    padding: 5px 29px 5px;    
    font-size: 18px;
  }
}

.container-button {
  text-align: center;
}

.btn-grad {
  background-image: linear-gradient(to right,  #2706e1 0%, #5886ea  50%, #e5eff1  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  border-width: 0;
}

.text-portfolio {
  margin-top: 30px;
  margin-left: 15px;
}

.container-portfolio {
  border: 1px #000 solid;
  margin: 0px 15px 30px;
}

.container-table {
  margin: 0 40px 0;
}

.text-token {
  margin-left: 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 414px) {
  .text-token {
    border-bottom: 1px #000 solid;
  }

  .table-pc {
    display: none;
  }

  .table-mobile {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  .btn-modal {
    padding-left: 10px;
    margin-left: 100px;
  }
}

@media only screen and (min-width: 415px) {
  .table-mobile {
    display: none;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
  }

  .group-asset {
    display: flex;
    justify-content: space-around;
    width: 65%;
  }

  .form-group {
    display: flex;
    justify-content: center;
    padding: 60px;
  }

  .btn-modal {
    padding-left: 10px;
    margin-left: 20px;
    font-size: 25px;
  }

  .number-asset-value {
    font-size: 50px;
  }

  .text-equal {
    font-size: 35px;
    padding-top: 15px;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
  }
}

.table-pc {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px 8px 8px 0px;
}

th {
  border-bottom: 1px #000 solid;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


@media only screen and (max-width: 414px) {
  .flex-container {
    display: block;
  }
  .text-hear-balance {
    display: none;
  }

  .flex-container {
    display: block;
  }

  .group-asset {
    display: flex;
    justify-content: space-around;
  }

  .group-container {
    display: flex;
    justify-content: center;
  }

  .form-group {
    padding-top: 20px;
  }

  .number-asset-value {
    font-size: 30px;
  }

  .text-equal {
    font-size: 30px;
  }

  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
  }
}

.text-header {
  font-size: 16px;
  width: 40%;
}
.text-hear-balance {
  font-size: 16px;
}

.button-content {
  margin-top: 15px;
  margin-right: 20px;
  font-size: 25px;
}

.progress-bar-container {
  width: 100%;
  height: 10px;
}
.progress-bar-indicator {
  height: 100%;
  background-image: linear-gradient(to right, yellow, orange, #da8f05);
  border-radius: 25px;
}

.progress-bar-indicator-ethereum {
  height: 100%;
  background-image: linear-gradient(to right, #6f02b3, #af44f2, #d8b1f0);
  border-radius: 25px;
}

.progress-bar-indicator-usd-coin {
  height: 100%;
  background-image: linear-gradient(to right, #a7b4f2, #6179ed, #2546e6);
  border-radius: 25px;
}

#indicator-2 {
  width: 50%;
}

#indicator-3 {
  width: 60%;
}

.container-header {
  display: flex;
  padding-left: 15px;
  margin-top: 15px;
}

.custom-button {
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.container-button-close {
  text-align: center;
}

.modal-header {
  margin-left: 10px;
}